---
title: Algolia API client versions
sidebarTitle: Library versions
description: See which versions of Algolia's API clients are covered by SLA.
---

Versions of the API clients not listed on this page aren't covered by the [Algolia Service Level Agreement (SLA)](https://www.algolia.com/policies/sla).

<Tabs>
{{ range . }}
<Tab title="{{ getLanguageName .Language }}">

<table>
<thead>
<tr>
<th>Version</th>
<th>Release date</th>
<th>SLA status</th>
</tr>
</thead>
<tbody>
{{- range .Versions }}
{{- if eq .Info.SLAStatus "eligible" }}
<tr>
<td>{{ .Version }}</td>
<td>{{ .Info.ReleaseDate }}</td>
{{- if .Info.SLAEndDate }}
<td className="bg-orange-100 text-orange-800 dark:bg-orange-900 dark:text-orange-100 pr-2">{{ capitalize .Info.SLAStatus }} until {{ .Info.SLAEndDate }}</td>
{{- else }}
<td className="bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-100 pr-2">{{ capitalize .Info.SLAStatus }}</td>
{{- end }}
</tr>
{{- end }}
{{- end }}
</tbody>
</table>

</Tab>
{{ end }}
</Tabs>
