---
title: Algolia API clients versions
sidebarTitle: Library versions
description: See which versions of Algolia's API clients are covered by SLA.
---

Versions of the API clients not listed on this page aren't covered by the [Algolia Service Level Agreement (SLA)](https://www.algolia.com/policies/sla).

<AccordionGroup>
{{ range . }}
<Accordion title="{{ getLanguageName .Language }}">

<table className="w-full">
<thead>
<tr>
<th className="max-w-[33%] w-full">Version</th>
<th className="max-w-[33%] w-full">Release date</th>
<th className="max-w-[33%] w-full">SLA status</th>
</tr>
</thead>
<tbody>
{{- range .Versions }}
{{- if eq .Info.SlaStatus "eligible" }}
<tr>
<td>{{ .Version }}</td>
<td>{{ .Info.ReleaseDate }}</td>
{{- if .Info.SlaEndDate }}
<td className="bg-orange-100 text-orange-800 dark:bg-orange-900 dark:text-orange-100 pr-2">{{ capitalize .Info.SlaStatus }} until {{ .Info.SlaEndDate }}</td>
{{- else }}
<td className="bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-100 pr-2">{{ capitalize .Info.SlaStatus }}</td>
{{- end }}
</tr>
{{- end }}
{{- end }}
</tbody>
</table>

</Accordion>
{{ end }}
</AccordionGroup>
