---
title: {{ .Summary }}
description: {{ .ShortDescription }}
---
{{- if .RequiresAdmin }}

**Requires admin API key**
{{- else if .Acl }}

**Required ACL:** {{ .Acl }}
{{- end }}

{{ .Description }}
