---
title: {{ .Title }}
openapi: {{ .InputFilename }} {{ .Verb }} {{ .APIPath }}
---
{{- if .RequiresAdmin }}

**Requires Admin API key**
{{- else if .ACL }}

**Required ACL:** {{ .ACL }}
{{- end }}
{{- if .SeeAlso }}

**See also:** [{{- .ExternalDocs.Description -}}]({{- .ExternalDocs.URL -}})
{{- end }}
