---
title: {{ .Summary }}
description: {{ .ShortDescription }}
---
{{- if .Deprecated }}

<Warning>This method is **deprecated.**</Warning>
{{- end }}
{{ if .RequiresAdmin }}
**Requires Admin API key**
{{- else if .ACL }}
**Required ACL:** {{ .ACL }}
{{- end }}

{{ .Description }}
{{ if .CodeSamples }}
## Usage

<CodeGroup>
{{ range .CodeSamples }}
```{{ .Lang }} {{ .Label }}
{{ trim .Source }}
```
{{ end }}
</CodeGroup>
{{- end }}

<Card
  icon="folder-code"
  horizontal="true"
  title="See the full API reference"
  arrow="true"
  href="/doc/rest-api/{{ .APIName }}/{{ .OperationIDKebab }}"
>
For more details about input parameters
and response fields.
</Card>
{{- if .SeeAlso }}

**See also:** [{{- .ExternalDocs.Description -}}]({{- .ExternalDocs.URL -}})
{{- end }}
