---
title: {{ .Summary }}
description: {{ frontmatterString .ShortDescription }}
public: true
---
{{- if .Deprecated }}

<Warning>This method is **deprecated.**</Warning>

{{- end }}
{{ if .RequiresAdmin }}
**Requires Admin API key**
{{- else if .ACL }}
**Required ACL:** {{ .ACL }}
{{- end }}

{{ .Description }}
{{ if .CodeSamples }}

## Usage

<CodeGroup>

{{ range .CodeSamples }}
```{{ .Lang }} {{ .Label }}
{{ trim .Source }}
```
{{ end }}

</CodeGroup>
{{- end }}
{{- if .Params }}

## Parameters

{{ renderParamFields .Params }}
{{- end }}
{{ if .Returns }}

## Returns

{{ renderResponseFields .Returns }}
{{- end }}

<Card
  icon="folder-code"
  horizontal="true"
  title="See the full API reference"
  arrow="true"
  href="/doc/rest-api/{{ .APIName }}/{{ .OperationIDKebab }}"
>

For HTTP endpoint details and response fields.

</Card>
{{- if .SeeAlso }}

**See also:** [{{- .ExternalDocs.Description -}}]({{- .ExternalDocs.URL -}})
{{- end }}
