---
title: {{ .Summary }}
description: {{ .ShortDescription }}
---
{{  if .RequiresAdmin }}
**Requires Admin API key**
{{  else if .Acl }}
** Required ACL:** {{ .Acl }}
{{- end }}

{{ .Description }}
{{  if .CodeSamples }}
## Usage

<CodeGroup>
{{ range .CodeSamples }}
```{{ .Lang }} {{ .Label }}
{{ trim .Source }}
```
{{ end }}
</CodeGroup>
{{- end }}
{{- if or .Params .RequestBody}}

## Parameters
{{ range .Params }}
<ParamField body="{{ .Name }}"{{ if .Required }} required{{ end }}>

{{ trim .Description }}

</ParamField>
{{ end }}
{{ if .RequestBody }}
<ParamField body="OPTION">

{{ trim .Description }}

</ParamField>
{{ end }}
{{ end }}
